@import url('https://fonts.googleapis.com/css2?family=Roboto');


*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family:'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fffcea;
}
.carousel-slider{
  border-radius: 20px;
}
.dot{
  box-shadow: none;
}