@import url('https://fonts.googleapis.com/css2?family=Roboto');

*{
  padding: 0;
  margin: 0;
}

.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101010;
}

.carousel{
  user-select: none;
  position: relative;
  min-width: 400px;
  width: 900px;
  aspect-ratio: 2500/1667;
  border-radius: 15px;
  overflow: hidden;
}

.carousel-track{
  display: grid;
  height: 100%;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  transition: transform .5s cubic-bezier(.42,0,.58,1);
}

.carousel-img{
  width: 100%;
  height: 100%;
}

.carousel-dots{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
  color: #fff;
  z-index: 1;
}

.dot{
  display: flex;
  cursor: pointer;
}

.controls{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.left,.right{
  display: flex;
  cursor: pointer;
  font-size: 25px;
  color: #fff;
  margin: 0 10px;
}

.left.hidden,.right.hidden{
  visibility: hidden;
}